@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --red: #F05D5E;
  --white: #E7ECEF;
  --blue: #0F7173;
  --black: #272932;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins';
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 0 2em;

  .nav-container {
    display: flex;
    width: 100%;
    max-width: 85em;
    margin: auto;
    padding: 3em 0;
    justify-content: space-between;
  }
  
  .nav-logo {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    color: var(--red);
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--white);
      transition: color 0.2s ease-in-out;
    }
  }
  
  .nav-items {
    list-style: none;
    
    li {
      display: inline-block;
      margin-left: 3em;
    }

    li a {
      text-decoration: none;
      font-weight: regular;
      font-size: 1.2em;
      color: var(--white);
      transition: color 0.2s ease-in-out;

      &:hover {
        color: var(--red);
        transition: 0.2s ease-in-out;
      }
    }

    #current {
      border-bottom-style: solid;
      border-color: var(--red);
      border-width: 2px;
    }
  }
}

.nav_dark {
    
  background-color: #272932;

  .nav-container {
    padding: 1em 0;
    transition: 0.2s;
  }
  transition: 0.1s;
}

.nav_light {
    
  background-color: none;

  .nav-container {
    padding: 3em 0;
    transition: 0.2s;
  }
  transition: 0.1s;
}

.hero {
  background: linear-gradient(151deg, rgba(39,41,50,1) 50%, rgba(64,27,27,1) 100%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -100;
  padding: 0 2em;
  padding-bottom: 10em;

  .container {
    display: flex;
    width: 100%;
    max-width: 85em;
    margin: auto;
    padding: 15vh 0;
    justify-content: space-between;
  }

  .left-col {
    font-family: 'Montserrat';
    color: var(--white);
    padding-top: 10em;

    .subhead {
      font-weight: regular;
      font-size: 1.5em;
      

      span {
        color: var(--red);
        font-weight: 500;
      }
    }

    .name {
      font-weight: bold;
      font-size: 4em;
    }

    .hero-cta {
      margin-top: 3em;
      a {
        background: linear-gradient(135deg, rgba(20,156,157,1) 0%, rgba(12,92,94,1) 30%, rgba(12,48,94,1) 100%);
        background-size: 200% 100%;
        padding: 0.5em 2em;
        border-radius: 45px;
        font-family: 'Poppins';
        font-size: 1.5em;
        text-decoration: none;
        color: var(--white);
        font-weight: 500;
        transition: background 0.4s ease-in-out;

        &:hover {
          background-position: 100% 0;
          transition: 0.4s ease-in-out;
        }
      }
    }
    
    #hero-back-img {
      position: absolute;
      width: 160em;
      z-index: -50;
      margin-left: -75em;
      margin-top: -60em;
    }
  }

  .right-col {
    padding-top: 3em;
    margin-right: -5em;
  }
}

.fold {
  display: block;
  position: relative;
  margin-top: 100vh;
  transform: translateY(-100px);

  .fold-wave {
    position: absolute;
    width: 100%;
    z-index: -2;
  }

  .fold-arrow {
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
    margin: auto;
    
    &:hover {
      cursor: pointer;
    }
  }

}

.site-content {
  position: absolute;
  background: var(--white);
  width: 100%;

  .content-container {
    position: relative;
    width: 100%;
    max-width: 85em;
    margin: 0 auto;
    padding: 3em 0;
    padding-bottom: 100em;
    justify-content: space-between;
    //background-color: #F05D5E;

    .profile-pic {
      display: flex;
      width: 100%;
      //background-color: #0F7173;
      justify-content: space-between;
      margin-top: 100px;

      .circle {
        display: inline-block;
        height: 15px;
        width: 15px;
        min-width: 15px;
        background-color: var(--black);
        border-radius: 50%;
        margin: auto 0;
      }
  
      .avatar-circle {
        display: inline-block;
        background-color: #C9C9C9;
        border-radius: 50%;
        overflow: hidden;
        min-width: 190px;
        min-height: 190px;
  
        img {
          transform: translateY(10px)
        }
    }

    
    }

    .aboutme {
      width: 100%;
      max-width: 60em;
      margin: auto;
      margin-top: 5em;

      .aboutme-title {
        position: relative;
        font-family: 'Poppins';
        font-weight: 100;
        font-size: 1.2em;
        color: var(--white);
        background: rgb(240,93,94);
        background: linear-gradient(180deg, rgba(240,93,94,1) 43%, rgba(242,165,16,1) 100%);
        width: 5em;
        border-radius: 45px;
        text-align: center;
        padding: 10px 20px;
        margin-left: 4em;
        z-index: 2;
      }

      p {
        position: relative;
        margin-top: -25px;
        background-color: var(--white);
        padding: 4em;
        border-radius: 20px;
        filter: 
          drop-shadow(7px 7px 7px #00000069) drop-shadow(-7px -7px 7px #ffffff);

        z-index: 1;
      }
    }
  }


}

