@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
:root {
  --red: #F05D5E;
  --white: #E7ECEF;
  --blue: #0F7173;
  --black: #272932;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins';
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 0 2em;
}

.navbar .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 85em;
  margin: auto;
  padding: 3em 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .nav-logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  color: var(--red);
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.navbar .nav-logo:hover {
  color: var(--white);
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.navbar .nav-items {
  list-style: none;
}

.navbar .nav-items li {
  display: inline-block;
  margin-left: 3em;
}

.navbar .nav-items li a {
  text-decoration: none;
  font-weight: regular;
  font-size: 1.2em;
  color: var(--white);
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.navbar .nav-items li a:hover {
  color: var(--red);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.navbar .nav-items #current {
  border-bottom-style: solid;
  border-color: var(--red);
  border-width: 2px;
}

.nav_dark {
  background-color: #272932;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.nav_dark .nav-container {
  padding: 1em 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav_light {
  background-color: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.nav_light .nav-container {
  padding: 3em 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hero {
  background: linear-gradient(151deg, #272932 50%, #401b1b 100%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -100;
  padding: 0 2em;
  padding-bottom: 10em;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 85em;
  margin: auto;
  padding: 15vh 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .left-col {
  font-family: 'Montserrat';
  color: var(--white);
  padding-top: 10em;
}

.hero .left-col .subhead {
  font-weight: regular;
  font-size: 1.5em;
}

.hero .left-col .subhead span {
  color: var(--red);
  font-weight: 500;
}

.hero .left-col .name {
  font-weight: bold;
  font-size: 4em;
}

.hero .left-col .hero-cta {
  margin-top: 3em;
}

.hero .left-col .hero-cta a {
  background: linear-gradient(135deg, #0c305e 0%, #0c5c5e 50%, #149c9d 100%);
  background-size: 200% 100%;
  padding: 0.5em 2em;
  border-radius: 45px;
  font-family: 'Poppins';
  font-size: 1.5em;
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  -webkit-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

.hero .left-col .hero-cta a:hover {
  background-position: 100% 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.hero .left-col #hero-back-img {
  position: absolute;
  width: 160em;
  z-index: -50;
  margin-left: -75em;
  margin-top: -60em;
}

.hero .right-col {
  padding-top: 3em;
  margin-right: -5em;
}

.fold {
  display: block;
  position: relative;
  margin-top: 100vh;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.fold .fold-wave {
  position: absolute;
  width: 100%;
  z-index: -2;
}

.fold .fold-arrow {
  position: absolute;
  top: 2em;
  left: 0;
  right: 0;
  margin: auto;
}

.fold .fold-arrow:hover {
  cursor: pointer;
}

.site-content {
  position: absolute;
  background: var(--white);
  width: 100%;
}

.site-content .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 85em;
  margin: 0 auto;
  padding: 3em 0;
  padding-bottom: 100em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */